#wb_header { background: transparent none repeat scroll left top; height: 267px; }
#wb_header { height: 258px; }
#wb_main { background: #ffffff none repeat scroll left top; height: 410px; padding: 0 0 50px 0; }
#wb_main { height: 900px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 70px; }
#wb_footer { height: 70px; }
body { background: transparent url("../gallery_gen/fc6068a761634ab49793cb6265431fb4.png") repeat scroll center center; }
.wb_sbg { background: transparent url("../gallery_gen/fc6068a761634ab49793cb6265431fb4.png") repeat scroll center center; }
body, .wb_sbg { min-width: 320px; min-height: 1278px; }
.root { width: 320px; height: 1278px; overflow: hidden; }
#wb_element_instance45 { left: 10px; top: 10px; min-width: 310px; width: 310px; min-height: 50px; height: 50px; display: block; z-index: 151; }
#wb_element_instance45 ul { background: #f0f0f0 none repeat scroll left top; }
#wb_element_instance45 .btn-collapser { display: inline-block; }
#wb_element_instance45 > ul { display: none; }
#wb_element_instance45.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance45.collapse-expanded > ul > li { display: block; }
#wb_element_instance45.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance45.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance45 ul { border: 1px none #000000; }
#wb_element_instance45, #wb_element_instance45 ul { text-align: right; }
#wb_element_instance45 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance45 li { margin: 0px 0px 0px 0px; }
#wb_element_instance45 li a { text-transform: uppercase; border: 0px none #000000; padding: 19px 30px 19px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance45 li:hover > a, #wb_element_instance45 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9854c9; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance45 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9552c4; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance46 { left: 70px; top: 30px; min-width: 187px; width: 187px; min-height: 28px; height: 28px; display: block; z-index: 148; }
#wb_element_instance47 { left: 140px; top: 10px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; z-index: 150; }
#wb_element_instance47 img { width: 50px; height: 60px; position: static; left: 0px; top: 0px; }
#wb_element_instance48 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 149; }
#wb_element_instance48 > div { width: 310px; height: 120px; background: #ffffff; border: 5px solid #C0C0C0; opacity: 1; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
#wb_element_instance49 { left: 50px; top: 80px; min-width: 270px; width: 270px; min-height: 28px; height: 28px; display: block; z-index: 152; }
#wb_element_instance50 { left: 0px; top: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 149; }
#wb_element_instance51 { left: 190px; top: 30px; min-width: 109px; width: 109px; min-height: 24px; height: 24px; display: block; z-index: 150; }
#wb_element_instance52 { left: 0px; top: 0px; min-width: 250px; width: 250px; min-height: 50px; height: 50px; display: block; z-index: 148; }
#wb_element_instance52 > div { width: 240px; height: 40px; background: #ffffff; border: 5px solid #C0C0C0; opacity: 0.95; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
#wb_element_instance53 { left: 20px; top: 20px; min-width: 300px; width: 300px; min-height: 36px; height: 36px; display: block; z-index: 20; }
#wb_element_instance54 { left: 20px; top: 370px; min-width: 280px; width: 280px; min-height: 260px; height: 260px; display: block; z-index: 21; }
#wb_element_instance54 form .form-field { width: 201px; }
#wb_element_instance54 form .form-area-field { height: 130px; }
#wb_element_instance54 form td { text-align: right; }
#wb_element_instance54 form tr.area-row > th { height: 1%; }
#wb_element_instance54 form tr.area-row > td { height: 1%; }
#wb_element_instance54 form tr.form-footer > td { height: 20px; }
#wb_element_instance55 { left: 20px; top: 210px; min-width: 200px; width: 200px; min-height: 132px; height: 132px; display: block; z-index: 22; }
#wb_element_instance56 { left: 20px; top: 80px; min-width: 280px; width: 280px; min-height: 110px; height: 110px; display: block; z-index: 23; }
#wb_element_instance57 { left: 0px; top: 430px; display: block; z-index: 9000; }
#wb_element_instance58 { left: 0px; top: 70px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 267px; }
	#wb_main { height: 410px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 797px; }
	.root { width: 992px; height: 797px; overflow: visible; }
	#wb_element_instance45 { left: 410px; top: 60px; min-width: 570px; width: 570px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance45 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance45 .btn-collapser { display: none; }
	#wb_element_instance45 > ul { display: block; }
	#wb_element_instance46 { left: 250px; top: 30px; min-width: 340px; width: 340px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance47 { left: -140px; top: 20px; min-width: 128px; width: 128px; min-height: 115px; height: 115px; display: block; }
	#wb_element_instance47 img { width: 128px; height: 115px; position: static; left: 0px; top: 0px; }
	#wb_element_instance48 { left: -160px; top: 0px; min-width: 1300px; width: 1300px; min-height: 190px; height: 190px; display: block; }
	#wb_element_instance48 > div { width: 1290px; height: 180px; }
	#wb_element_instance49 { left: 10px; top: 60px; min-width: 370px; width: 370px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance50 { left: 0px; top: 20px; min-width: 403px; width: 403px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance51 { left: 850px; top: 0px; min-width: 109px; width: 109px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance52 { left: -30px; top: 0px; min-width: 250px; width: 250px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance52 > div { width: 240px; height: 40px; }
	#wb_element_instance53 { left: 40px; top: 40px; min-width: 610px; width: 610px; min-height: 44px; height: 44px; display: block; }
	#wb_element_instance54 { left: 270px; top: 180px; min-width: 690px; width: 690px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance54 form .form-field { width: 599px; }
	#wb_element_instance54 form .form-area-field { height: 100px; }
	#wb_element_instance55 { left: 40px; top: 180px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance56 { left: 40px; top: 100px; min-width: 910px; width: 910px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 267px; }
	#wb_main { height: 410px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 797px; }
	.root { width: 992px; height: 797px; overflow: visible; }
	#wb_element_instance45 { left: 410px; top: 60px; min-width: 570px; width: 570px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance45 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance45 .btn-collapser { display: none; }
	#wb_element_instance45 > ul { display: block; }
	#wb_element_instance46 { left: 250px; top: 30px; min-width: 340px; width: 340px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance47 { left: -140px; top: 20px; min-width: 128px; width: 128px; min-height: 115px; height: 115px; display: block; }
	#wb_element_instance47 img { width: 128px; height: 115px; position: static; left: 0px; top: 0px; }
	#wb_element_instance48 { left: -160px; top: 0px; min-width: 1300px; width: 1300px; min-height: 190px; height: 190px; display: block; }
	#wb_element_instance48 > div { width: 1290px; height: 180px; }
	#wb_element_instance49 { left: 10px; top: 60px; min-width: 370px; width: 370px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance50 { left: 0px; top: 20px; min-width: 403px; width: 403px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance51 { left: 850px; top: 0px; min-width: 109px; width: 109px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance52 { left: -30px; top: 0px; min-width: 250px; width: 250px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance52 > div { width: 240px; height: 40px; }
	#wb_element_instance53 { left: 40px; top: 40px; min-width: 610px; width: 610px; min-height: 44px; height: 44px; display: block; }
	#wb_element_instance54 { left: 270px; top: 180px; min-width: 690px; width: 690px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance54 form .form-field { width: 599px; }
	#wb_element_instance54 form .form-area-field { height: 100px; }
	#wb_element_instance55 { left: 40px; top: 180px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance56 { left: 40px; top: 100px; min-width: 910px; width: 910px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 267px; }
	#wb_main { height: 410px; }
	#wb_footer { height: 70px; }
	body, .wb_sbg { min-width: 992px; min-height: 797px; }
	.root { width: 992px; height: 797px; overflow: visible; }
	#wb_element_instance45 { left: 410px; top: 60px; min-width: 570px; width: 570px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance45 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance45 .btn-collapser { display: none; }
	#wb_element_instance45 > ul { display: block; }
	#wb_element_instance46 { left: 250px; top: 30px; min-width: 340px; width: 340px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance47 { left: -140px; top: 20px; min-width: 128px; width: 128px; min-height: 115px; height: 115px; display: block; }
	#wb_element_instance47 img { width: 128px; height: 115px; position: static; left: 0px; top: 0px; }
	#wb_element_instance48 { left: -160px; top: 0px; min-width: 1300px; width: 1300px; min-height: 190px; height: 190px; display: block; }
	#wb_element_instance48 > div { width: 1290px; height: 180px; }
	#wb_element_instance49 { left: 10px; top: 60px; min-width: 370px; width: 370px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance50 { left: 0px; top: 20px; min-width: 403px; width: 403px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance51 { left: 850px; top: 0px; min-width: 109px; width: 109px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance52 { left: -30px; top: 0px; min-width: 250px; width: 250px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance52 > div { width: 240px; height: 40px; }
	#wb_element_instance53 { left: 40px; top: 40px; min-width: 610px; width: 610px; min-height: 44px; height: 44px; display: block; }
	#wb_element_instance54 { left: 270px; top: 180px; min-width: 690px; width: 690px; min-height: 230px; height: 230px; display: block; }
	#wb_element_instance54 form .form-field { width: 599px; }
	#wb_element_instance54 form .form-area-field { height: 100px; }
	#wb_element_instance55 { left: 40px; top: 180px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance56 { left: 40px; top: 100px; min-width: 910px; width: 910px; min-height: 24px; height: 24px; display: block; }
}
