#wb_header { background: transparent none repeat scroll left top; height: 227px; }
#wb_header { height: 227px; }
#wb_main { background: #ffffff none repeat scroll left top; height: 519px; padding: 0 0 80px 0; }
#wb_main { height: 1312px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 36px; }
#wb_footer { height: 70px; }
body { background: transparent url("../gallery_gen/fc6068a761634ab49793cb6265431fb4.png") repeat scroll center center; }
.wb_sbg { background: transparent url("../gallery_gen/fc6068a761634ab49793cb6265431fb4.png") repeat scroll center center; }
body, .wb_sbg { min-width: 320px; min-height: 1689px; }
.root { width: 320px; height: 1689px; overflow: hidden; }
#wb_element_instance59 { left: 10px; top: 10px; min-width: 310px; width: 310px; min-height: 50px; height: 50px; display: block; z-index: 151; }
#wb_element_instance59 ul { background: #f0f0f0 none repeat scroll left top; }
#wb_element_instance59 .btn-collapser { display: inline-block; }
#wb_element_instance59 > ul { display: none; }
#wb_element_instance59.collapse-expanded > ul { display: block; float: none; height: auto; }
#wb_element_instance59.collapse-expanded > ul > li { display: block; }
#wb_element_instance59.collapse-expanded > ul > li > ul { position: static; }
#wb_element_instance59.collapse-expanded > ul > li:hover > ul { display: none; }
#wb_element_instance59 ul { border: 1px none #000000; }
#wb_element_instance59, #wb_element_instance59 ul { text-align: right; }
#wb_element_instance59 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance59 li { margin: 0px 0px 0px 0px; }
#wb_element_instance59 li a { text-transform: uppercase; border: 0px none #000000; padding: 19px 30px 19px 30px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #000000; line-height: 16px; background: transparent none repeat scroll left top; }
#wb_element_instance59 li:hover > a, #wb_element_instance59 li:focus > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9854c9; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance59 li.active > a { border: 0px none #000000; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #9552c4; line-height: 16px; background: transparent none no-repeat scroll left top; }
#wb_element_instance60 { left: 70px; top: 30px; min-width: 187px; width: 187px; min-height: 28px; height: 28px; display: block; z-index: 148; }
#wb_element_instance61 { left: 140px; top: 10px; min-width: 50px; width: 50px; min-height: 60px; height: 60px; display: block; z-index: 150; }
#wb_element_instance61 img { width: 50px; height: 60px; position: static; left: 0px; top: 0px; }
#wb_element_instance62 { left: 0px; top: 0px; min-width: 320px; width: 320px; min-height: 130px; height: 130px; display: block; z-index: 149; }
#wb_element_instance62 > div { width: 310px; height: 120px; background: #ffffff; border: 5px solid #C0C0C0; opacity: 1; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
#wb_element_instance63 { left: 50px; top: 80px; min-width: 270px; width: 270px; min-height: 28px; height: 28px; display: block; z-index: 152; }
#wb_element_instance64 { left: 0px; top: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; z-index: 149; }
#wb_element_instance65 { left: 190px; top: 30px; min-width: 109px; width: 109px; min-height: 24px; height: 24px; display: block; z-index: 150; }
#wb_element_instance66 { left: 0px; top: 0px; min-width: 250px; width: 250px; min-height: 50px; height: 50px; display: block; z-index: 148; }
#wb_element_instance66 > div { width: 240px; height: 40px; background: #ffffff; border: 5px solid #C0C0C0; opacity: 0.95; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; }
#wb_element_instance67 { left: 20px; top: 260px; min-width: 280px; width: 280px; min-height: 330px; height: 330px; display: block; z-index: 38; }
#wb_element_instance68 { left: 20px; top: 20px; min-width: 200px; width: 200px; min-height: 36px; height: 36px; display: block; z-index: 40; }
#wb_element_instance69 { left: 50px; top: 110px; min-width: 580px; width: 580px; min-height: 127px; height: 127px; display: block; z-index: 42; }
#wb_element_instance70 { left: 50px; top: 450px; min-width: 580px; width: 580px; min-height: 69px; height: 69px; display: block; z-index: 43; }
#wb_element_instance71 { left: 50px; top: 380px; min-width: 580px; width: 580px; min-height: 43px; height: 43px; display: block; z-index: 45; }
#wb_element_instance72 { left: 0px; top: 539px; display: block; z-index: 9000; }
#wb_element_instance73 { left: 0px; top: 70px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 227px; }
	#wb_main { height: 519px; }
	#wb_footer { height: 36px; }
	body, .wb_sbg { min-width: 992px; min-height: 862px; }
	.root { width: 992px; height: 862px; overflow: visible; }
	#wb_element_instance59 { left: 410px; top: 60px; min-width: 570px; width: 570px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance59 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance59 .btn-collapser { display: none; }
	#wb_element_instance59 > ul { display: block; }
	#wb_element_instance60 { left: 250px; top: 30px; min-width: 340px; width: 340px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance61 { left: -140px; top: 20px; min-width: 128px; width: 128px; min-height: 115px; height: 115px; display: block; }
	#wb_element_instance61 img { width: 128px; height: 115px; position: static; left: 0px; top: 0px; }
	#wb_element_instance62 { left: -160px; top: 0px; min-width: 1300px; width: 1300px; min-height: 190px; height: 190px; display: block; }
	#wb_element_instance62 > div { width: 1290px; height: 180px; }
	#wb_element_instance63 { left: 10px; top: 60px; min-width: 370px; width: 370px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance64 { left: 0px; top: 20px; min-width: 403px; width: 403px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance65 { left: 850px; top: 0px; min-width: 109px; width: 109px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance66 { left: -30px; top: 0px; min-width: 250px; width: 250px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance66 > div { width: 240px; height: 40px; }
	#wb_element_instance67 { left: 50px; top: 240px; min-width: 580px; width: 580px; min-height: 101px; height: 101px; display: block; }
	#wb_element_instance68 { left: 40px; top: 40px; min-width: 330px; width: 330px; min-height: 44px; height: 44px; display: block; }
	#wb_element_instance69 { left: 50px; top: 110px; min-width: 580px; width: 580px; min-height: 127px; height: 127px; display: block; }
	#wb_element_instance70 { left: 50px; top: 450px; min-width: 580px; width: 580px; min-height: 69px; height: 69px; display: block; }
	#wb_element_instance71 { left: 50px; top: 380px; min-width: 580px; width: 580px; min-height: 43px; height: 43px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 227px; }
	#wb_main { height: 519px; }
	#wb_footer { height: 36px; }
	body, .wb_sbg { min-width: 992px; min-height: 862px; }
	.root { width: 992px; height: 862px; overflow: visible; }
	#wb_element_instance59 { left: 410px; top: 60px; min-width: 570px; width: 570px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance59 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance59 .btn-collapser { display: none; }
	#wb_element_instance59 > ul { display: block; }
	#wb_element_instance60 { left: 250px; top: 30px; min-width: 340px; width: 340px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance61 { left: -140px; top: 20px; min-width: 128px; width: 128px; min-height: 115px; height: 115px; display: block; }
	#wb_element_instance61 img { width: 128px; height: 115px; position: static; left: 0px; top: 0px; }
	#wb_element_instance62 { left: -160px; top: 0px; min-width: 1300px; width: 1300px; min-height: 190px; height: 190px; display: block; }
	#wb_element_instance62 > div { width: 1290px; height: 180px; }
	#wb_element_instance63 { left: 10px; top: 60px; min-width: 370px; width: 370px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance64 { left: 0px; top: 20px; min-width: 403px; width: 403px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance65 { left: 850px; top: 0px; min-width: 109px; width: 109px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance66 { left: -30px; top: 0px; min-width: 250px; width: 250px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance66 > div { width: 240px; height: 40px; }
	#wb_element_instance67 { left: 50px; top: 240px; min-width: 580px; width: 580px; min-height: 101px; height: 101px; display: block; }
	#wb_element_instance68 { left: 40px; top: 40px; min-width: 330px; width: 330px; min-height: 44px; height: 44px; display: block; }
	#wb_element_instance69 { left: 50px; top: 110px; min-width: 580px; width: 580px; min-height: 127px; height: 127px; display: block; }
	#wb_element_instance70 { left: 50px; top: 450px; min-width: 580px; width: 580px; min-height: 69px; height: 69px; display: block; }
	#wb_element_instance71 { left: 50px; top: 380px; min-width: 580px; width: 580px; min-height: 43px; height: 43px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 227px; }
	#wb_main { height: 519px; }
	#wb_footer { height: 36px; }
	body, .wb_sbg { min-width: 992px; min-height: 862px; }
	.root { width: 992px; height: 862px; overflow: visible; }
	#wb_element_instance59 { left: 410px; top: 60px; min-width: 570px; width: 570px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance59 ul { background: transparent none no-repeat scroll center top; }
	#wb_element_instance59 .btn-collapser { display: none; }
	#wb_element_instance59 > ul { display: block; }
	#wb_element_instance60 { left: 250px; top: 30px; min-width: 340px; width: 340px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance61 { left: -140px; top: 20px; min-width: 128px; width: 128px; min-height: 115px; height: 115px; display: block; }
	#wb_element_instance61 img { width: 128px; height: 115px; position: static; left: 0px; top: 0px; }
	#wb_element_instance62 { left: -160px; top: 0px; min-width: 1300px; width: 1300px; min-height: 190px; height: 190px; display: block; }
	#wb_element_instance62 > div { width: 1290px; height: 180px; }
	#wb_element_instance63 { left: 10px; top: 60px; min-width: 370px; width: 370px; min-height: 46px; height: 46px; display: block; }
	#wb_element_instance64 { left: 0px; top: 20px; min-width: 403px; width: 403px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance65 { left: 850px; top: 0px; min-width: 109px; width: 109px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance66 { left: -30px; top: 0px; min-width: 250px; width: 250px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance66 > div { width: 240px; height: 40px; }
	#wb_element_instance67 { left: 50px; top: 240px; min-width: 580px; width: 580px; min-height: 101px; height: 101px; display: block; }
	#wb_element_instance68 { left: 40px; top: 40px; min-width: 330px; width: 330px; min-height: 44px; height: 44px; display: block; }
	#wb_element_instance69 { left: 50px; top: 110px; min-width: 580px; width: 580px; min-height: 127px; height: 127px; display: block; }
	#wb_element_instance70 { left: 50px; top: 450px; min-width: 580px; width: 580px; min-height: 69px; height: 69px; display: block; }
	#wb_element_instance71 { left: 50px; top: 380px; min-width: 580px; width: 580px; min-height: 43px; height: 43px; display: block; }
}
